.container{
    background-color: rgb(173, 45, 182);
   
    height: 300px;
    width: 500px;
     

}
img{
    height: 30px;
    width: 50px;
}
h1{
    color: white;
}
.todo{
     padding-top: 10px;
     align-items: center;
     text-align: center;
     
}
input{
    border: none;
    height: 40px;
    border-radius: 10px;
    outline: none;
    width: 300px;
     
    

}
button{
   background-color: #FFA500;
   border: none;
    border-radius: 10px;
    height: 40px;
    width: 80px;
    justify-content: space-between;
     
}

.unlist{

        list-style: circle;
         
        padding-left: 20px;
    
}
  