.card{
    height: 450px;
    width: 280px;
    background-color:chocolate;
    margin: auto;
    align-items: center;

}
h1{
     text-align: center;
}
#textarea{
    height: 100px;
    width: 95%;
    text-align: right;
    margin-left: 4px;
    border-radius: 10px;
}
.row{
    width: 60px;
    height: 50px;
    margin-left: 4px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    
}
.grid{
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* Three columns */
  grid-gap: 5px;
}
.grid :hover{
     background-color: rgb(110, 123, 123);
     cursor: pointer;
}