 *{
    padding: 0px;
    margin: 0px;
 }
 body {
     background-color: rgb(42, 48, 48);
 }

 h3 {
    margin:40px;
     color: aliceblue;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     margin-top: 25px;
 }

 .header {
     display: flex;
     background-color: rgb(11, 15, 15);
     height: 100%;
 }

 .header-right {
     justify-content: flex-end;
     padding-left: 400px;
 }

 ul {
     display: flex;

 }

 ul li {
     padding: 30px 40px 20px 20px;
     list-style-type: none;
 }

 ul li a {
     color: aliceblue;
     text-decoration: none;
 }

 ul li a:hover {
     color: aqua;
 }

 .btn {
     background-color:rgb(36, 104, 104);
      height: 30px;
      width: 120px;
      color:white;
      border:  none;
      border-radius: 15px; 
       margin-left: 50px;
        margin-top: 20px;
    
 }
 .btn:hover{
    color: black;
    background-color: aqua;
 }
 .firstsection{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
 }
 .firstsection-left{
    padding-left: 100px;
 }
 .firstsection-right{
    padding-right: 100px;
 }
 .image{
    height: 300px;
    width: 500px;
    border-radius: 20%;
 }
 .socialmedia{
    display: flex; 
    padding: 10px 10px 10px 10px;
 }
  
 #facebook{
    height: 50px;
    width:50px;
    transition: transform 0.3s ease;
 }
 #facebook:hover{
    transform: scale(1.2);
 }
 #insta{
    height: 70px;
    width:90px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
 }
 #insta:hover{
    transform: scale(1.2);
 }
 #linkedin{
    height: 50px;
    width:90px;
    transition: transform 0.3s ease;
 }
 #linkedin:hover{
    transform: scale(1.2);
 }
 